<!DOCTYPE html>
<html>
  <head>
    <title>This is an OpenID Identifier</title>
    <link rel="openid.server" href="http://<%=request.host_with_port%>/openid" />
    <link rel="openid2.provider" href="http://<%=request.host_with_port%>/openid" />
    <link rel="openid2.local_id" href="http://<%=request.host_with_port%>" />
  </head>
  <body>
    This is an OpenID identifier.
  </body>
</html>
